/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 100%;
  /* max-width: 115em; */
  /* max-width: 42em; */
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}






.left{
  background-color:#315cb9;

  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
}

.middle{
  background-color:#FFF;
  height:100%;
  display:block;
  /* display:flex; */
  /* align-items:center; */
  /* justify-content:center; */

  color: black;
}
/* .right{
 background-color:#00B4D8;
  height:250px;
  display:flex;
  align-items:center;
  justify-content:center; 
} */

.pannel-hight{
  height:100%;
}

